@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or your main CSS file */
#about {
	position: relative; /* Ensure positioning context for children */
}

body {
	overflow-x: hidden;
}
.tsParticles {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1; /* Below the hero */
}

.hero-content {
	position: relative;
	z-index: 2; /* Above the particles */
}
