@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or your main CSS file */
#about {
	position: relative; /* Ensure positioning context for children */
}

body {
	overflow-x: hidden;
}
#logo {
	width: 100%; /* Make sure the container has enough width */
	text-align: center;
	flex: 1;
	flex-direction: row;
}
#tsparticles {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.hero-content {
	position: relative;
	z-index: 2; /* Above the particles */
}
